.first-div {
    background-color: rgb(63, 175, 8);
    width: 600px;
    height: 200px;
    color: red;
}

.second-div {
    background-color: pink;
    width: 600px;
    height: 200px;
    font-size: 30px;
}
